*\.o
*\.hi
*\.agdai
TAGS
tags
*\.o
*\.hi
*out
*\.tptp
*\.html
*\.aux
*\.log
*\.data
*Main
*Translate
docs/*pdf
docs/*tex
docs/*mail*
dist/*
paper/
src/Test/QuickSpec/
html/
*\#*
tmp/
*/*tex
*/*pdf
!report/*tex
*bbl
*blg
*toc
*sty
testsuite/prover9/*\.xml
testsuite/prover9/*\.out